#button-edit{
    background-color: rgb(8, 157, 226);
    border-color: rgb(8, 157, 226);

}

#button-delete{
 background-color:  rgb(212, 40, 40);
 border-color:  rgb(212, 40, 40);
}

#button-view{
    background-color: rgb(21, 130, 180);
    border-color: rgb(21, 130, 180);
}