Form {	
    background-color: white;
    margin: 60px auto;
    padding: 30px 30px;
    width: 600px;
    border-color:grey;
    border-style: solid;
    border-width: 1px;
    margin-top: 250px;
} 


.dropdown-toggle-selectcountry{
    width: 475px;
  
   
}

.dropdown-menu-selectcountry{
    width: 475px;

}