Form {	
    background-color: white;
    /*margin: 60px auto;*/
    /*padding: 30px 30px;*/
    width: 500px;
    border-color:grey;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    border-width: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

} 

.text-rule{
    margin-bottom: 0;
}

.icon-check{
    font-size: 20px;
}

.info-character{
    color: rgb(36, 36, 95);
    cursor: pointer;

}

.formGroup-idioma{
    margin-top: 15px;
    margin-bottom: 0;
}

.btn-createPass{
    width: 94%;
}