Form {	
    background-color: white;
    margin: 60px auto;
    padding: 30px 30px;
    width: 500px;
    border-color:grey;
    border-style: solid;
    border-width: 1px;

} 

.text-rule{
    margin-bottom: 0;
}

.icon-check{
    font-size: 20px;
}

.correct{
    color: #28A745;
}

.info-character{
    color: rgb(36, 36, 95);
    cursor: pointer;
}

.formGroup-idioma{
    margin-top: 15px;
    margin-bottom: 0;
}

.btn-createPass{
    width: 94%;
}