
#img-Navbar{
    width: 120px;
    margin: 0;
    padding:0;
}

#Navbar{
    padding:0;
}

#text-navbar{
    color: rgb(0, 55, 100);
    font-family: Verdana;
    font-weight: bold;
    float:right;
    margin-right: 1%;
}



